<div class="conatiner shadow m-5 p-5">
  <a  class="btn btn-outline-dark float-end mb-3" href="<%= new_food_path %>">Add Food</a>

  <table class="table table-white">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <% Food.all.each do |food| %> 
        <tr>
          <td><%= food.name %></td>          
          <td><%= food.measurment_unit %></td>          
          <td>$ <%= food.price %></td>
          <td>            
            <%= button_to raw("<i class=\"bi bi-x-circle\"></i> Delete"),            
                food_path(:id => food.id), 
                class: "btn btn-danger",
                :method => :delete %> 
        </td>
        </tr>
      <% end %>    
  </tbody>
</table>

</div>